<h1><%= @the_user.username %></h1>


  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%= @the_user.followers.count%>
  </dd>
  <dd>
    <%if @the_user.id != current_user.id%>
    <% if @the_user.followers.where(id: current_user.id).exists? %>
        <%= link_to "Unfollow", "/delete_follow_request/#{@the_user.id}"%>
      <% else %>
        <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_recipient_id" value=<%= @the_user.id %>>
          <button>
            Follow
          </button>
        </form>
      <% end %>
    <%end%>
  </dt>

    </div>

      <%if @the_user.id == current_user.id %>
      <h4>Pending follow requests</h4>
      <ul>
        <% @the_user.pending_followers.each do |user| %>
          <li>
            <%= user.username %>
            <form action="/modify_follow_request/<%= user.id%>" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>
            <form action="/modify_follow_request/<%= user.id%>" method="post">
              <input name="query_status" value="rejected" type="hidden">
            
              <button>
                Reject
              </button>
            </form>
          </li>
        <% end %>
      </ul>
      <%end%>
    </div>
  
<dt>Following</dt>
<dd><%=@the_user.leaders.count %></dd>

<nav>
  <ul>
    <li>
      <a href="/users/<%=@the_user %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%=@the_user %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%=@the_user %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%=@the_user %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @the_user.own_photos.count%>)</h2>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% @the_user.own_photos.each do |photo| %>
    <tr>
      <td>
        <img src="<%= photo.image %>" class="img-responsive" alt="User Photo">
      </td>
      <td>
        <%= @the_user.username %>
      </td>
      <td>
        <%= photo.caption %>
      </td>
      <td>
        <%= time_ago_in_words(photo.created_at) %> ago
      </td>
      <td>
        <%= photo.likes.count %>
      </td>
      <td>
            <a href="/photos/<%= photo.id %>">
              Show details
            </a>
      </td>
    </tr>
  <% end %>
</table>
